h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 1em;
    margin: 1em;
}