.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}



@media (prefers-reduced-motion: no-preference) {

}

nav {
  background-color: #282c34;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  display: flex;
  justify-content: space-evenly;
}
.App-link > a {
  display: flex;
  justify-content: center;
  color: #61dafb;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
